<!DOCTYPE html>
<html lang="en">
<head>
  <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
  </head>
 
    <center>
    <h1 >scoring failed</h1>
    
  <br>
  
    <a href="/predict"><input class="btn btn-primary" type="submit" , value='predict' >
    <a href="/fit"><input class="btn btn-primary" type="submit" , value='fit_model' >
    <a href="/"><input class="btn btn-primary" type="submit" , value='home' >
    <a  href="/update"><input class="btn btn-primary" type="submit" , value='update data' > 
  </center>
  </body>
</html>